// Img_url
$imgUrl: '/dist/img/';

// Breakpoints
$xl: 1300px;
$md: 1024px;
$xs: 540px;

// Colors
$white: #FFFFFF;
$txt: #575050;
$txt50: rgba(87, 80, 80, 0.5);
$txt40: rgba(87, 80, 80, 0.4);
$blue: #678EC9;
$blue-hover: #8CAEE2;
$blueLight: #E8EEF7;
$blueLight-hover: #DAE4F3;
$f2: #F2F2F2;
$border: rgba(255, 255, 255, 0.1);
$white_opacity6: rgba(255, 255, 255, 0.6);
$btn_bg: linear-gradient(88.16deg, #678EC9 3.88%, #6390D5 99.3%);

$transition: all .3s;


%container {
	padding: 0 30px;

	@media (max-width:$md) {
		padding: 0 20px;
	}

	@media (max-width:$xs) {
		padding: 0 10px;
	}
}

%link {
	pointer-events: none;

	@media (max-width:$md) {
		pointer-events: auto;
	}
}

%imgBg {
	flex: none;

	background: {
		repeat: no-repeat;
		size: cover;
		position: center;
	}
}

%stretch {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}