.footer {
    margin-top: 160px;

    @media (max-width:$md) {
        margin-top: 60px;
    }

    &__box {
        padding: 0 33px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:$md) {
            padding: 0 20px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        @media (max-width:$xs) {
            padding: 0 10px;
        }

        &_bottom {
            margin-top: 100px;
            padding-top: 46px;
            padding-bottom: 41px;
            background: $f2;

            @media (max-width:$md) {
                margin-top: 60px;
                padding-top: 40px;
                padding-bottom: 30px;
                align-items: center;
            }

            @media (max-width:$xs) {
                padding-top: 40px;
                padding-bottom: 30px;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;

        @media (max-width:$md) {
            margin-top: 40px;
            padding-right: 59px;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;
        }

        @media (max-width:$xs) {
            margin-top: 30px;
            padding-right: 10px;
            gap: 20px;
        }
    }

    &__wrap {
        @media (max-width:$xs) {
            width: 100%;
        }

        &:nth-child(2) {
            margin-left: 72px;

            @media (max-width:$md) {
                margin-left: 0;
                order: 3;
            }

            @media (max-width:$xs) {
                order: 2;
            }
        }

        &:last-child {
            margin-left: 108px;

            @media (max-width:$md) {
                margin-left: 0;
                order: 2;
            }

            @media (max-width:$xs) {
                order: 3;
            }
        }
    }

    &__title {
        font-size: 48px;
        line-height: 53px;
        color: $txt;
        font-family: 'Tenor Sans';

        @media (max-width:$md) {
            font-size: 36px;
            line-height: 40px;
        }

        @media (max-width:$xs) {
            font-size: 28px;
            line-height: 31px;
        }
    }

    &__address,
    &__tel {
        font-size: 18px;
        line-height: 27px;
        color: $txt;
        font-feature-settings: 'pnum' on, 'lnum' on;

        @media (max-width:$xs) {
            font-size: 14px;
            line-height: 21px;
        }
    }

    &__link {
        font-size: 18px;
        line-height: 27px;
        color: $txt50;
        font-feature-settings: 'pnum' on, 'lnum' on;
        border-bottom: 1px solid $txt50;
        transition: $transition;

        @media (max-width:$xs) {
            font-size: 14px;
            line-height: 21px;
        }

        &:hover {
            color: $txt;
            border-bottom: 1px solid $txt;
        }
    }

    &__address,
    &__tel,
    &__reference {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__tel {
        white-space: nowrap;
        @extend %link;
    }

    &__img {
        margin-top: 40px;

        @media (max-width:$xs) {
            margin-top: 30px;
        }
    }

    &__bg {
        width: 100%;
        height: 430px;
        border-radius: 16px;
        overflow: hidden;
        @extend %imgBg;

        @media (max-width:$md) {
            height: 340px;
        }

        @media (max-width:$xs) {
            height: 240px;
        }
    }

    &__logo {
        svg {
            @media (max-width:$md) {
                width: 222px;
                height: 49px;
            }

            @media (max-width:$xs) {
                width: 184px;
                height: 41px;
            }

            .color {
                fill: $blue;
            }
        }
    }

    &__policy,
    &__KrissTriane {
        font-size: 16px;
        line-height: 24px;
        color: $txt;
        opacity: 0.3;
        font-feature-settings: 'pnum' on, 'lnum' on;

        @media (max-width:$md) {
            font-size: 14px;
            line-height: 21px;
            text-align: center;
        }

        @media (max-width:$xs) {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__politics {
        text-align: right;

        @media (max-width:$md) {
            margin-top: 31px;
            text-align: center;
        }

        @media (max-width:$xs) {
            margin-top: 30px;
        }
    }

    &__policy {
        border-bottom: 1px solid transparent;
        transition: $transition;

        &:hover {
            border-bottom: 1px solid rgba(87, 80, 80, 30%);
        }
    }

    &__KrissTriane {
        margin-top: 10px;
    }
}