.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
    border-bottom: 1px solid $border;
    @extend %container;
    transition: $transition;

    @media (max-width:$md) {
        padding: 0;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__block {
        padding: 30px 40px;
        width: 50%;
        height: 116px;

        @media (max-width:$md) {
            padding: 20px;
            height: 88px;
        }

        &:not(:last-child) {
            border-right: 1px solid $border;
        }

        &:nth-child(2) {
            @media (max-width:$md) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &_right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 60px;
        }
    }

    &__wrapper {
        text-align: right;

        @media (max-width:$md) {
            display: none;
        }
    }

    &__mob {
        display: none;

        @media (max-width:$md) {
            display: block;
        }

        &_link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            background: $blue;
            border-radius: 50%;
        }
    }

    &__address,
    &__link {
        font-size: 18px;
        line-height: 25px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $white;
    }

    &__working,
    &__call {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $white_opacity6;
    }

    &__address,
    &__working {
        @media (max-width:$md) {
            display: none;
        }
    }

    &__link {
        white-space: nowrap;
        @extend %link;
    }

    &__call {
        border-bottom: 1px solid $white_opacity6;
        transition: $transition;

        &:hover {
            border-bottom: 1px solid transparent;
        }
    }

    &__logo {
        svg {
            margin: 0 auto;

            @media (max-width:$md) {
                width: 168px;
                height: 40px;
            }
        }
    }

    &_fixed {
        .hamburger {
            position: fixed;

            &:hover {
                &::after {
                    background: $blue-hover;
                }
            }

            &::after {
                background: $blue;
            }
        }
    }
}

.hamburger {
    position: relative;
    display: inline-block;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    cursor: pointer;

    &:hover {
        &::after {
            background: $blue;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: -19px;
        right: -16px;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background: transparent;
        transition: $transition;
    }

    &__box {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 32px;
    }

    &__inner,
    &__inner:after,
    &__inner:before {
        position: absolute;
        width: 40px;
        height: 1px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;
        background-color: $white;
        transition: $transition;
        z-index: 5;
    }

    &__inner {
        top: 50%;
        display: block;
        transition: transform 75ms cubic-bezier(.55, .055, .675, .19) .15s, background-color 0s linear 75ms;

        &:after,
        &:before {
            display: block;
            content: "";
        }
    }

    &__inner {

        &:before {
            top: -14px;
            transition: top 75ms ease-in 75ms, transform 75ms cubic-bezier(.55, .055, .675, .19) 0s;
        }
    }

    &__inner {

        &:after {
            bottom: -14px;
            transition: bottom 75ms ease-in 75ms, transform 75ms cubic-bezier(.55, .055, .675, .19) 0s;
        }
    }

    &.active {

        .hamburger__inner {
            background-color: transparent !important;
            transform: rotate(90deg);
            transition: transform 75ms cubic-bezier(.215, .61, .355, 1) 0s, background-color 0s linear .15s;

            &:before {
                top: 0;
                transition: top 75ms ease-out .1s, transform 75ms cubic-bezier(.215, .61, .355, 1) .15s;
                transform: rotate(-45deg);
                background-color: $blue;
            }

            &:after {
                bottom: 0;
                transition: bottom 75ms ease-out .1s, transform 75ms cubic-bezier(.215, .61, .355, 1) .15s;
                transform: rotate(45deg);
                background-color: $blue;
            }
        }
    }
}

.headerMenu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(87, 80, 80, 0.7);
    backdrop-filter: blur(2px);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: $transition;

    &__content {
        padding: 40px 40px 40px 60px;
        width: 479px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: $white;
        transform: translate(100%, 0);
        transition: $transition;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        svg {
            .color {
                fill: $blue;
            }
        }
    }

    &__li {
        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__reference {
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $blue;
        transition: $transition;

        &:hover {
            color: rgba(87, 80, 80, 0.7);
        }
    }

    &__box {
        margin-top: 40px;
    }

    &__top {
        font-size: 18px;
        line-height: 25px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $txt;
        @media (max-width:$md) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__bottom {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $txt50;
        @media (max-width:$md) {
            font-size: 18px;
            line-height: 25px;
        }
    }

    &__tel {
        @extend %link;
    }

    &__link {
        border-bottom: 1px solid $txt50;
        transition: $transition;

        &:hover {
            color: $txt;
            border-bottom: 1px solid $txt;
        }
    }

    &__flower {
        width: 448px;
        height: 448px;
        position: absolute;
        top: 18%;
        left: 40%;
        flex: none;
        background-repeat: no-repeat;
        background-size: contain;
    }
}