@import "../modules/utilities/_variables.scss";

.banner {
    width: 100vw;
    height: 100vh;

    &__content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 116px;
        padding-bottom: 116px;
        width: 100%;
        height: 100%;
        @extend %container;
        @extend %imgBg;

        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1px;
            background: $border;
        }

        &:before {
            left: 30px;
        }

        &:after {
            right: 30px;
        }
    }

    &__main {
        width: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__spa {
        font-size: 20px;
        line-height: 28px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $white_opacity6;
    }

    &__title {
        margin-top: 20px;
        font-size: 56px;
        line-height: 62px;
        color: $white;
        font-family: 'Tenor Sans';
    }

    &__btn {
        margin-top: 40px;
        width: 265px;
        height: 58px;
    }

    &__list {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @extend %container;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 1px;
            background: $border;
        }
    }

    &__item {
        padding: 11px 10px;
        width: 50%;
        display: flex;
        align-items: center;
        gap: 10px;

        &:not(:last-child) {
            border-right: 1px solid $border;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 25px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $white;
    }
}

.programs {
    margin-top: 100px;

    &__slider {
        margin-top: 87px;
    }
}

.programsTabs {
    margin: 40px auto 0;
    padding: 0 40px;
    padding-left: 117px;

    &__list {
        display: flex;
        gap: 20px;
    }

    &__item {
        font-size: 20px;
        line-height: 28px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $txt40;
        cursor: pointer;

        &.active {
            color: $blue;
            text-decoration: underline;
            pointer-events: none;
        }
    }
}

.programsSliider {
    position: relative;

    &.hide {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &__content {
        margin-left: 117px;
    }

    &__item {
        padding-top: 31px;
        margin: 0 auto;
        width: 1080px !important;
        height: 100%;
        display: flex !important;
        gap: 52px;
    }

    &__picture {
        position: relative;
    }

    &__percentage {
        position: absolute;
        top: -31px;
        right: -31px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 62px;
        height: 62px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: $white;
        background: $blue;
        border-radius: 50%;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__img {
        width: 315px;
        height: 418px;
        border-radius: 16px;
        overflow: hidden;
        @extend %imgBg;
    }

    &__box {
        position: relative;
    }

    &__title {
        font-size: 36px;
        line-height: 40px;
        color: $txt;
        font-family: 'Tenor Sans';
    }

    &__wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__wrap {
        width: 50%;
    }

    &__list {
        height: 142px;
        overflow: hidden;
    }

    &__subtitle {
        font-size: 18px;
        line-height: 27px;
        color: $txt50;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__ul,
    &__text {
        margin-top: 6px;
    }

    &__li,
    &__text {
        font-size: 18px;
        line-height: 27px;
        color: $txt;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__li {
        display: flex;
        align-items: center;
        gap: 10px;

        &:before {
            content: '';
            width: 6px;
            height: 6px;
            background: $txt;
            border-radius: 50%;
        }
    }

    &__cost {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__total,
    &__time {
        font-size: 30px;
        line-height: 45px;
        color: $txt;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__discount {
        font-size: 24px;
        line-height: 36px;
        color: $txt50;
        text-decoration-line: line-through;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__btn {
        width: 265px;
        height: 58px;
        position: absolute;
        bottom: 0;
    }

    &__counter {
        position: absolute;
        bottom: 15px;
        left: 758px;
        font-size: 16px;
        line-height: 24px;
        color: $blue;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .slideArrows {
        position: absolute;
        bottom: 22px;
        left: 840px;
        display: flex;
        gap: 62px;
    }

    .slick-arrow {
        cursor: pointer;

        &.slick-disabled {
            opacity: .4;
            pointer-events: none;
        }
    }

    .slick-slide {
        margin-right: 100px;
        padding-top: 51px;
        opacity: 0.5;
        height: 480px;

        &>div {
            height: 100%;
        }

        .programsSliider__img {
            width: 241px;
            height: 320px;
            transition: $transition;
        }

        .programsSliider__percentage {
            zoom: .7;
        }

        &.slick-active {
            padding-top: 31px;
            opacity: 1;

            .programsSliider__img {
                width: 315px;
                height: 418px;
            }

            .programsSliider__percentage {
                zoom: 1;
            }
        }
    }
}