@import "../modules/utilities/_variables.scss";

.banner {
    width: 100vw;
    height: 100vh;

    &__content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 116px;
        padding-bottom: 116px;
        width: 100%;
        height: 100%;
        @extend %container;
        @extend %imgBg;

        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1px;
            background: $border;
        }

        &:before {
            left: 30px;
        }

        &:after {
            right: 30px;
        }
    }

    &__main {
        width: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__spa {
        font-size: 20px;
        line-height: 28px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $white_opacity6;
    }

    &__title {
        margin-top: 20px;
        font-size: 56px;
        line-height: 62px;
        color: $white;
        font-family: 'Tenor Sans';
    }

    &__btn {
        margin-top: 40px;
        width: 265px;
        height: 58px;
    }

    &__list {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @extend %container;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 1px;
            background: $border;
        }
    }

    &__item {
        padding: 11px 10px;
        width: 50%;
        display: flex;
        align-items: center;
        gap: 10px;

        &:not(:last-child) {
            border-right: 1px solid $border;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 25px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $white;
    }
}

.programs {
    margin-top: 100px;

    &__slider {
        margin-top: 87px;
    }
}

.programsTabs {
    margin: 40px auto 0;
    padding: 0 40px;
    padding-left: 117px;

    &__list {
        display: flex;
        gap: 20px;
    }

    &__item {
        font-size: 20px;
        line-height: 28px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $txt40;
        cursor: pointer;

        &.active {
            color: $blue;
            text-decoration: underline;
            pointer-events: none;
        }
    }
}

.programsSliider {
    position: relative;

    &__content {
        margin-left: 117px;
    }

    &__item {
        padding-top: 31px;
        margin: 0 auto;
        width: 1080px !important;
        height: 100%;
        display: flex !important;
        gap: 52px;
    }

    &__picture {
        position: relative;
    }

    &__percentage {
        position: absolute;
        top: -31px;
        right: -31px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 62px;
        height: 62px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: $white;
        background: $blue;
        border-radius: 50%;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__img {
        width: 315px;
        height: 418px;
        border-radius: 16px;
        overflow: hidden;
        @extend %imgBg;
    }

    &__box {
        position: relative;
    }

    &__title {
        font-size: 36px;
        line-height: 40px;
        color: $txt;
        font-family: 'Tenor Sans';
    }

    &__wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__wrap {
        width: 50%;
    }

    &__list {
        height: 142px;
        overflow: hidden;
    }

    &__subtitle {
        font-size: 18px;
        line-height: 27px;
        color: $txt50;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__ul,
    &__text {
        margin-top: 6px;
    }

    &__li,
    &__text {
        font-size: 18px;
        line-height: 27px;
        color: $txt;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__li {
        display: flex;
        align-items: center;
        gap: 10px;

        &:before {
            content: '';
            width: 6px;
            height: 6px;
            background: $txt;
            border-radius: 50%;
        }
    }

    &__cost {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__total,
    &__time {
        font-size: 30px;
        line-height: 45px;
        color: $txt;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__discount {
        font-size: 24px;
        line-height: 36px;
        color: $txt50;
        text-decoration-line: line-through;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__btn {
        width: 265px;
        height: 58px;
        position: absolute;
        bottom: 0;
    }

    &__counter {
        position: absolute;
        bottom: 15px;
        left: 758px;
        font-size: 16px;
        line-height: 24px;
        color: $blue;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &.hide {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
    }

    .slideArrows {
        position: absolute;
        bottom: 22px;
        left: 840px;
        display: flex;
        gap: 62px;
    }

    .slick-arrow {
        cursor: pointer;

        &.slick-disabled {
            opacity: .4;
            pointer-events: none;
        }
    }

    .slick-slide {
        margin-right: 100px;
        padding-top: 51px;
        opacity: 0.5;
        height: 480px;

        &>div {
            height: 100%;
        }

        .programsSliider__img {
            width: 241px;
            height: 320px;
            transition: $transition;
        }

        .programsSliider__percentage {
            zoom: .7;
        }

        &.slick-active {
            padding-top: 31px;
            opacity: 1;

            .programsSliider__img {
                width: 315px;
                height: 418px;
            }

            .programsSliider__percentage {
                zoom: 1;
            }
        }
    }
}

.video {
    margin-top: 140px;
    width: 100vw;
    height: 510px;
    @extend %imgBg;

    &__content {
        margin: 0 auto;
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }

    &__title {
        font-size: 48px;
        line-height: 53px;
        text-align: center;
        color: $white;
        font-family: 'Tenor Sans';
    }

    &__play {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 102px;
        height: 102px;
        background: $blue;
        border-radius: 50%;
        cursor: pointer;
    }
}

.reviews {
    padding-top: 130px;
    position: relative;

    &::after,
    &::before {
        content: '';
        display: block;
        width: 215px;
        height: 223px;
        position: absolute;
        top: 0;
    }

    &::before {
        right: 0;

        background: {
            image: url($imgUrl + "flowerRight.png");
            repeat: no-repeat;
        }
    }

    &::after {
        left: 0;

        background: {
            image: url($imgUrl + "flowerLeft.png");
            repeat: no-repeat;
        }
    }


    &__slider {
        margin-top: 40px;
    }

    &__item {
        position: relative;
        width: 214px;
        height: 380px;
        border-radius: 16px;
        overflow: hidden;
        background: $f2;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(143, 132, 132, 0.29);
            border-radius: 16px;
            overflow: hidden;
            pointer-events: none;
        }
    }

    &__bg {
        width: 100%;
        height: 100%;
        flex: none;

        background: {
            repeat: no-repeat;
            size: contain;
            position: center;
        }
    }

    &__box {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    &__btn {
        width: 265px;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 18px;
        line-height: 27px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $blue;
        background: $blueLight;
        border-radius: 50px;
        font-family: 'Tenor Sans';
        cursor: pointer;
        transition: $transition;

        &:hover {
            background: $blueLight-hover;
        }
    }

    .slick-slide {
        margin: 0 20px;
        width: 214px;
    }
}

.discount {
    margin-top: 100px;
    height: 556px;
    background: linear-gradient(270deg, #584E48 2.47%, #615752 51.43%);

    &__content {
        display: flex;
        height: 100%;
    }

    &__img {
        width: 663px;
        height: 100%;
        @extend %imgBg;
    }

    &__info {
        width: 100%;
    }

    &__info {
        padding: 42px 40px;
    }

    &__title {
        font-size: 48px;
        line-height: 53px;
        color: $white;
        font-family: 'Tenor Sans';
    }

    &__description {
        margin-top: 30px;
        font-size: 16px;
        line-height: 22px;
        color: $white_opacity6;
    }

    &__form {
        margin-top: 30px;
    }

    &__button {
        margin-top: 40px;
        width: 265px;
        height: 58px;
        font-family: 'Geometria';
    }

    &__privacy {
        margin-top: 20px;
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.3);

        a {
            font-weight: 500;
            border-bottom: 1px solid transparent;
            transition: $transition;

            &:hover {
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    }
}

.specialist {
    margin-top: 15px;
    padding-top: 100px;

    &__description {
        width: 50%;
        margin: 30px auto 0;
        font-size: 18px;
        line-height: 27px;
        color: $txt;
        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__slider {
        margin: 40px auto 0;
        width: 1104px;
    }

    &__item {
        width: 404px;
        transition: $transition;
    }

    &__bg {
        width: 100%;
        height: 420px;
        border-radius: 16px;
        overflow: hidden;
        transition: $transition;
        @extend %imgBg;
    }

    &__box {
        margin-top: 20px;
    }

    &__name {
        font-size: 32px;
        line-height: 48px;
        color: $txt;
        font-family: 'Tenor Sans';
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__experience {
        margin-top: 8px;
        font-size: 18px;
        line-height: 27px;
        color: $txt;
        opacity: 0.5;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__text {
        margin-top: 12px;
        font-size: 18px;
        line-height: 27px;
        color: rgba(87, 80, 80, 0.8);
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .slick-slide {
        margin: 0 20px;
        width: 404px;
    }

    .slick-active {
        &.slick-slide {
            width: 310px;
        }

        .specialist__item {
            width: 310px;
            opacity: 0.5;
        }

        .specialist__bg {
            height: 323px;
        }
    }

    .slick-current {
        &.slick-slide {
            width: 404px;
        }

        .specialist__item {
            width: 404px;
            opacity: 1;
        }

        .specialist__bg {
            height: 420px;
        }
    }
}

.certificate {
    margin-top: 100px;
    height: 556px;
    background: linear-gradient(90deg, #584E48 2.75%, #615752 48.57%);

    &__content {
        display: flex;
        height: 100%;
    }

    &__img {
        width: 551px;
        height: 100%;
        @extend %imgBg;
    }

    &__info {
        padding: 80px 55px 30px 30px;
    }

    &__title {
        font-size: 48px;
        line-height: 53px;
        color: $white;
        font-family: 'Tenor Sans';
    }

    &__description {
        margin-top: 30px;
        font-size: 16px;
        line-height: 22px;
        color: $white_opacity6;
        width: 85%;
    }

    &__btn {
        margin-top: 40px;
        width: 265px;
        height: 58px;
    }

    &__box {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    &__name {
        font-size: 18px;
        line-height: 27px;
        color: $white;
        opacity: 0.5;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__result {
        margin-top: 6px;
        font-size: 24px;
        line-height: 36px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $white;
    }
}

.etiquette {
    margin-top: 30px;
    padding-top: 220px;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 440px;
        height: 286px;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;

        background: {
            image: url($imgUrl + "flowerEtiquette.png");
            repeat: no-repeat;
        }
    }

    &__content {
        padding: 0 33px;
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 50%;
    }

    &__title {
        font-size: 48px;
        line-height: 53px;
        color: $txt;
        font-family: 'Tenor Sans';
    }

    &__description {
        margin-top: 40px;

        p {
            font-size: 18px;
            line-height: 27px;
            color: $txt;
            font-feature-settings: 'pnum' on, 'lnum' on;

            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }

    &__list {
        width: 40%;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 20px;

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__number {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 29px;
        height: 29px;
        font-size: 14px;
        line-height: 21px;
        color: $txt;
        border-radius: 50%;
        border: 1px solid rgba(87, 80, 80, 0.25);
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__text {
        font-size: 20px;
        line-height: 28px;
        color: $txt;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
}