body {
    font: {
        family: 'Geometria', serif;
        weight: 400;
    }

    color: $txt;
    overflow-x: hidden;

    &.openMenu {

        overflow: hidden;

        .headerMenu {
            opacity: 1;
            pointer-events: auto;

            &__content {
                transform: translate(0, 0);
            }
        }
    }
}

svg {
    display: block;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
    line-height: 27px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $white;
    background: $btn_bg;
    border-radius: 50px;
    font-family: 'Tenor Sans';
    cursor: pointer;
}

.sectionTitle {
    font-size: 48px;
    line-height: 53px;
    color: $txt;
    font-family: 'Tenor Sans';
    text-align: center;
}