body {
    font: {
        family: 'Geometria', serif;
        weight: 400;
    }

    color: $txt;
    overflow-x: hidden;

    &.openMenu {
        overflow: hidden;

        .headerMenu {
            opacity: 1;
            pointer-events: auto;

            &__content {
                transform: translate(0, 0);
            }
        }

        .hamburger {
            &:hover {
                &::after {
                    background: $blueLight;
                }
            }
        }
    }
}

svg {
    display: block;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
    line-height: 27px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $white;
    background: transparent;
    border-radius: 50px;
    font-family: 'Tenor Sans';
    cursor: pointer;
    transition: $transition;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $btn_bg;
        border-radius: 50px;
        z-index: -1;
        opacity: 1;
        transition: $transition;
    }

    &:hover {
        background: $blue-hover;
    }
}

.sectionTitle {
    font-size: 48px;
    line-height: 53px;
    color: $txt;
    font-family: 'Tenor Sans';
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.envelopeInput {
    position: relative;
    width: 420px;
    height: 50px;

    &:not(:first-child) {
        margin-top: 34px;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - 10px);
        right: 18px;
        width: 20px;
        height: 20px;
        opacity: 0;
        pointer-events: none;
        transition: $transition;

        background: {
            image: url($imgUrl + "errorDark.png");
            repeat: no-repeat;
            size: cover;
        }
    }

    input {
        padding-left: 8px;
        padding-right: 50px;
        width: 100%;
        height: 100%;
        font-size: 16px;
        line-height: 22px;
        color: #ffffff80;
        @include placeholder(16px, #ffffff80, 'Geometria');
        font-family: 'Geometria';
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        transition: $transition;

        &:focus {
            color: $white;
            border-bottom: 1px solid $white;
        }
    }

    span {
        display: block;
        position: relative;
        top: 0;
        font-size: 13px;
        line-height: 18px;
        color: $white;
        height: 0;
        opacity: 0;
        pointer-events: none;
        transition: $transition;
    }

    &.error {
        &::before {
            opacity: 1;
        }

        input {
            color: $white;
            border-bottom: 1px solid $white;
        }

        span {
            top: 8px;
            height: auto;
            opacity: 1;
            pointer-events: auto;
        }
    }
}

//popup

.mfp-bg {
    background: rgba(87, 80, 80, 0.7) !important;
    backdrop-filter: blur(2px);
    opacity: 1 !important;
}

.mfp-close-btn-in .mfp-close {
    display: none;
}

.popup {
    position: relative;
    margin: 20px auto;
    max-width: 540px;

    &__close {
        position: absolute;
        top: -30px;
        right: -60px;
        cursor: pointer;

        &:hover {
            svg {
                path {
                    stroke: $blue;
                }
            }
        }

        svg {
            path {
                transition: $transition;
            }
        }
    }

    &__content {
        position: relative;
        padding: 40px 60px 60px;
        background: $white;
        border-radius: 20px;
        z-index: 1;

        &::after,
        &::before {
            content: '';
            display: block;
            position: absolute;
        }

        &::before {
            width: 128px;
            height: 98px;
            top: 2px;
            right: 0;

            background: {
                image: url($imgUrl + "formFlowerRight.png");
                repeat: no-repeat;
            }
        }

        &::after {
            width: 171px;
            height: 127px;
            left: 0;
            bottom: 66px;

            background: {
                image: url($imgUrl + "formFlowerLeft.png");
                repeat: no-repeat;
            }
        }
    }

    &__title {
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        color: $txt;
        font-family: 'Tenor Sans';
    }

    &__description {
        margin-top: 30px;
        font-size: 18px;
        line-height: 25px;
        color: $txt50;
        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__button {
        margin: 40px auto 0;
        width: 200px;
        height: 50px;
        background: $blue;
    }

    .envelopeInput {

        &::before {
            background: {
                image: url($imgUrl + "errorBeige.png");
            }
        }

        &__warning {
            color: $txt;
        }

        input {
            color: $txt50;
            @include placeholder(16px, $txt50, 'Geometria');
            border-bottom: 1px solid $txt50;

            &:focus {
                color: $txt;
                border-bottom: 1px solid $txt;
            }
        }

        &.error {
            &::before {
                opacity: 1;
            }

            input {
                color: $txt;
                border-bottom: 1px solid $txt;
            }

            span {
                top: 8px;
                height: auto;
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    .discount {
        &__privacy {
            margin-top: 30px;
            text-align: center;
            color: $txt40;

            a {
                &:hover {
                    border-bottom: 1px solid $txt40;
                }
            }
        }
    }
}